@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.bambu {
  font-family: "Inter", sans-serif;
  -webkit-box-shadow: 0px 20px 13px 5px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 20px 13px 5px rgba(0, 0, 0, 0.09);
}
.bambu p, .bambu h2, .bambu h3, .bambu h4, .bambu ul, .bambu ol {
  font-family: "Inter", sans-serif;
}
.bambu figure {
  margin: 0;
  padding: 0;
}
.bambu figure img {
  max-width: 100%;
  height: auto;
}
.bambu .bambu-section-1,
.bambu .bambu-section-2 {
  padding: 90px 10%;
  position: relative;
}
@media (max-width: 1100px) {
  .bambu .bambu-section-1,
  .bambu .bambu-section-2 {
    padding-left: 8%;
    padding-right: 8%;
  }
}
@media (max-width: 800px) {
  .bambu .bambu-section-1,
  .bambu .bambu-section-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }
}
.bambu .bambu-section-1 {
  background-color: #FAF9F3;
}
@media (max-width: 800px) {
  .bambu .bambu-section-1 {
    padding-top: 125px;
  }
}
.bambu .bambu-section-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #C29647;
  background-image: url("https://boldgroup.agency/uploaded/bambu/bambu-line.png");
}
.bambu .bambu-section-2 {
  background-color: #E7CF9F;
}
@media (max-width: 800px) {
  .bambu .bambu-section-2 {
    padding-top: 40px;
  }
}
.bambu .bambu-down {
  width: 100px;
  height: 50px;
  background-color: #fff;
  border-radius: 30px;
  border: 2px solid #C29647;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px auto 20px auto;
  position: relative;
  z-index: 2;
}

.bambu ul {
  margin: 0 0 20px 0;
  padding-left: 0;
  list-style: none;
}
.bambu ul li {
  font-size: 24px;
  padding-left: 35px;
  position: relative;
  margin-bottom: 10px;
}
@media (max-width: 1400px) {
  .bambu ul li {
    font-size: 20px;
  }
}
@media (max-width: 1100px) {
  .bambu ul li {
    font-size: 18px;
  }
}
.bambu ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background-image: url(https://boldgroup.agency/uploaded/bambu/icon-cross.svg);
  width: 18px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
}
.bambu p {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
  color: #000;
}
@media (max-width: 1400px) {
  .bambu p {
    font-size: 20px;
  }
}
@media (max-width: 1100px) {
  .bambu p {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .bambu p {
    font-size: 16px;
  }
}
.bambu h2 {
  font-size: 45px;
  margin: 0;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #7D2808;
  font-weight: 700;
}
@media (max-width: 1400px) {
  .bambu h2 {
    font-size: 40px;
  }
}
@media (max-width: 1100px) {
  .bambu h2 {
    font-size: 32px;
    letter-spacing: 3px;
  }
}
@media (max-width: 1100px) {
  .bambu h2 {
    font-size: 24px;
  }
}

.bambu .bambu-box {
  background-color: #fff;
  padding: 30px;
  border-radius: 30px;
  margin: 1rem 0;
}
.bambu .bambu-box h2, .bambu .bambu-box strong {
  color: #C29647;
}
.bambu .bambu-box p {
  margin-bottom: 0;
}
.bambu .bambu-small-text {
  font-size: 20px;
  padding-left: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-left: 2px solid #C29647;
}
@media (max-width: 1400px) {
  .bambu .bambu-small-text {
    font-size: 18px;
  }
}
@media (max-width: 1100px) {
  .bambu .bambu-small-text {
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  .bambu .bambu-small-text {
    font-size: 14px;
  }
}
.bambu .bambu-color-second {
  color: #7D2808;
}

.bambu-hero img {
  display: block;
  width: 100%;
}

.bambu-intro {
  background-color: #C29647;
  padding: 30px 30px 20px 30px;
  position: relative;
  z-index: 1;
  border-radius: 30px;
}
.bambu-intro .bambu-intro-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 800px) {
  .bambu-intro .bambu-intro-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.bambu-intro .bambu-intro-header .bambu-intro-title,
.bambu-intro .bambu-intro-header .bambu-intro-img {
  width: 50%;
}
@media (max-width: 800px) {
  .bambu-intro .bambu-intro-header .bambu-intro-title,
  .bambu-intro .bambu-intro-header .bambu-intro-img {
    width: 100%;
  }
}
.bambu-intro .bambu-intro-header .bambu-intro-title {
  padding-right: 20px;
  padding-bottom: 0;
}
@media (max-width: 800px) {
  .bambu-intro .bambu-intro-header .bambu-intro-title {
    padding-right: 0;
    padding-bottom: 20px;
  }
}
@media (max-width: 800px) {
  .bambu-intro .bambu-intro-header .bambu-intro-img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
.bambu-intro .bambu-intro-header .bambu-intro-img img {
  max-width: 115%;
  width: 115%;
  margin-top: -220px;
  margin-left: -13%;
}
@media (max-width: 800px) {
  .bambu-intro .bambu-intro-header .bambu-intro-img img {
    width: 100%;
    max-width: 100%;
    margin: -150px 0 0 0;
  }
}
.bambu-intro p, .bambu-intro h2 {
  color: #fff;
}

.bambu-coctail {
  margin-top: 50px;
  margin-bottom: 20px;
}
.bambu-coctail .bambu-coctail-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 800px) {
  .bambu-coctail .bambu-coctail-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.bambu-coctail .bambu-coctail-row .bambu-coctail-text {
  width: 70%;
}
@media (max-width: 800px) {
  .bambu-coctail .bambu-coctail-row .bambu-coctail-text {
    width: 100%;
  }
}
.bambu-coctail .bambu-coctail-row .bambu-coctail-text > * {
  max-width: 500px;
  padding-right: 20px;
}
.bambu-coctail .bambu-coctail-row .bambu-coctail-img {
  width: 30%;
  padding-left: 50px;
  padding-right: 30px;
}
@media (max-width: 800px) {
  .bambu-coctail .bambu-coctail-row .bambu-coctail-img {
    width: 100%;
    text-align: center;
    padding: 0;
  }
}
.bambu-coctail .bambu-coctail-row .bambu-coctail-img figure {
  margin-bottom: -110px;
  position: relative;
}
@media (max-width: 800px) {
  .bambu-coctail .bambu-coctail-row .bambu-coctail-img figure {
    margin-bottom: -30px;
    display: inline-block;
  }
}
.bambu-coctail .bambu-coctail-row .bambu-coctail-img figure::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: -83px;
  width: 250px;
  height: 50px;
  background-image: url(https://boldgroup.agency/uploaded/bambu//shadow.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 800px) {
  .bambu-coctail .bambu-coctail-row .bambu-coctail-img figure::after {
    display: none;
  }
}
.bambu-coctail .bambu-coctail-row .bambu-coctail-img figure img {
  position: relative;
  z-index: 1;
}
@media (max-width: 800px) {
  .bambu-coctail .bambu-coctail-row .bambu-coctail-img figure img {
    max-width: 150px;
  }
}
@media (max-width: 640px) {
  .bambu-coctail .bambu-coctail-row .bambu-coctail-img figure img {
    max-width: 110px;
  }
}
.bambu-coctail .bambu-box p {
  max-width: 60%;
}
@media (max-width: 800px) {
  .bambu-coctail .bambu-box p {
    max-width: 100%;
  }
}

.bambu-recipes .bambu-recipes-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 40px;
}
@media (max-width: 1100px) {
  .bambu-recipes .bambu-recipes-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.bambu-recipes .bambu-recipes-text {
  width: 55%;
}
@media (max-width: 1100px) {
  .bambu-recipes .bambu-recipes-text {
    width: 100%;
  }
}
.bambu-recipes .bambu-recipes-img {
  margin-bottom: -140px;
  width: 45%;
}
@media (max-width: 1100px) {
  .bambu-recipes .bambu-recipes-img {
    width: 100%;
    margin-bottom: -60px;
    text-align: center;
  }
}
.bambu-recipes .bambu-box {
  padding-top: 40px;
  padding-bottom: 40px;
}
.bambu-recipes .bambu-box p {
  max-width: 55%;
}
@media (max-width: 1100px) {
  .bambu-recipes .bambu-box p {
    max-width: 100%;
  }
}

.bambu-banner {
  background-color: #7D2808;
  padding: 40px;
  text-align: center;
}
.bambu-banner h2 {
  color: #fff;
  padding-bottom: 0;
  font-weight: 100;
}

.bambu-side-img {
  position: absolute;
  z-index: -1;
}
@media (max-width: 1400px) {
  .bambu-side-img {
    display: none;
  }
}
.bambu-side-img-1 {
  left: -180px;
  top: -140px;
}
.bambu-side-img-2 {
  right: -180px;
  top: 400px;
}
.bambu-side-img-3 {
  left: -190px;
  bottom: 950px;
}
.bambu-side-img-4 {
  right: -170px;
  bottom: 800px;
}
.bambu-side-img-5 {
  right: -170px;
  bottom: 450px;
}
.bambu-side-img-6 {
  left: -120px;
  top: 100px;
  z-index: 1;
}
.bambu-side-img-7 {
  z-index: 1;
  top: -50px;
  right: calc(-49.5vw + 50%);
}
@media (max-width: 1800px) {
  .bambu-side-img-7 {
    width: 40vw;
  }
}
.bambu-side-img-8 {
  z-index: 1;
  right: -100px;
  top: 600px;
}
.bambu-side-img-9 {
  left: -140px;
  top: 750px;
}
.bambu-side-img-10 {
  right: -150px;
  top: 950px;
}
.bambu-side-img-11 {
  right: -120px;
  bottom: 600px;
}
.bambu-side-img-12 {
  left: -140px;
  bottom: 350px;
}