@use "../base/variables" as *;

.bambu {

    ul {
        margin: 0 0 20px 0;
        padding-left: 0;
        list-style: none;

        li {
            font-size: 24px;
            padding-left: 35px;
            position: relative;
            margin-bottom: 10px;

            @media (max-width: $bp-largest) {
                font-size: 20px;
            }
    
            @media (max-width: $bp-large) {
                font-size: 18px;
            }

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                background-image: url(https://boldgroup.agency/uploaded/bambu/icon-cross.svg);
                width: 18px;
                height: 18px;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }

    p {
        font-size: 24px;
        line-height: 1.2;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 10px;
        color: #000;

        @media (max-width: $bp-largest) {
            font-size: 20px;
        }

        @media (max-width: $bp-large) {
            font-size: 18px;
        }

        @media (max-width: $bp-medium) {
            font-size: 16px;
        }
    }

    h2 {
        font-size: 45px;
        margin: 0;
        padding-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: $color-secondary;
        font-weight: 700;

        @media (max-width: $bp-largest) {
            font-size: 40px;
        }

        @media (max-width: $bp-large) {
            font-size: 32px;
            letter-spacing: 3px;
        }

        @media (max-width: $bp-large) {
            font-size: 24px;
        }
    }

}