$font-primary: "Inter", sans-serif;

$color-primary: #C29647;
$color-secondary: #7D2808;

$color-back: #E7CF9F;
$color-back-2: #FAF9F3;

$border-radius: 30px;

// RESPONSIVE BREAKPOINTS
$bp-largest: 1400px;
$bp-large: 1100px;
$bp-medium: 800px;
$bp-small: 640px;
